<div class="container col-4 mt-3">
  <h2 style="color: white">Sign Up</h2>
</div>
  <div class="container jumbotron col-4">
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
      <label for="userId">User Id </label>
      <input class="form-control" type="text" name="userId" id="userId" formControlName="userId">
      <label for="userName">User Name </label>
      <input class="form-control" type="text" name="userName" id="userName" formControlName="userName">
      <label for="password">Password </label>
      <input class="form-control" type="text" name="password" id="password" formControlName="password">
      <label for="cpassword">Confirm Password </label>
      <input class="form-control" type="text" name="cpassword" id="cpassword" formControlName="cpassword">
      <input class="btn btn-primary mt-2" type="submit" value="Sign Up" [disabled] = "signupForm.invalid">
    </form>
    <label class="mt-3" for="loginBtn">Have a Account Already ?</label><br>
    <input class="btn btn-dark" type="button" value="Login" id="loginBtn" (click)="onLoginBtn()">
  </div>
